<h2>list all users</h2>
<form class="new-user">
  <div class="row">
    <div class="six columns">
      <input type="text" name="user[name]" id="user-name" placeholder="Your user name" class="u-full-width">
    </div>
    <div class="six columns">
      <input type="text" name="user[gender]" id="user-gender" placeholder="Your user gender" class="u-full-width">
    </div>

    <div class="six columns">
      <input type="text" name="user[age]" id="user-age" placeholder="Your user age" class="u-full-width">
    </div>

    <div class="six columns">
      <input type="text" name="user[email]" id="user-email" placeholder="Your user email" class="u-full-width">
    </div>

    <div class="six columns">
      <input type="text" name="user[password]" id="user-password" placeholder="Your user password" class="u-full-width">
    </div>

    <input type="submit" value='Save My User'>
  </div>
</form>



<ul id="all-user-list">
<% allUsers.forEach(function(user) { %>
  <li><%= user.name %> , <%= user.gender %>, <%= user.age %>, <%= user.email %>, <%= user.password %> </li>

<% }) %>
 </ul>
